body {
    background: linear-gradient(to bottom, #87CEEB, #4682B4);
    color: rgb(0, 0, 0);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.navbar, .footer {
    background: linear-gradient(to bottom, #87CEEB, #4682B4);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.adminimagen {
    background-image: url("imagenes/1.png");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-position: center;
}
